.tituloPersonalizado {
    font-weight: bold;
    font-size: 2rem;
    background: linear-gradient(to left, #4cabff, #363536);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    width: 100%;
}

.imgTitulo {
    margin-top: 4px;
    width: 50px;
    height: auto;
    color:  #363536;
    background: linear-gradient(to left, #4cabff, #363536);
}

.meuFormulario {
    margin: 20px;
    background: #f8f8f8;
    border-radius: 4px;
    padding: 24px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.vboxButtonGrid {
    align-items: end;
}

